In [1]:
from sklearn import preprocessing

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import shutil
import os
# import requests
import base64

# Python for machine Learning

In [136]:
pwd

'/home/krishna/Desktop/ML/ANN/UW'

In [3]:
path = './UW_deep_learning/data/'
filename_read  = os.path.join(path, 'iris.csv')
filename_write = os.path.join(path, 'output_iris_mine.csv')

In [4]:
df = pd.read_csv(filename_read)

In [22]:
df['sepal_l'][5:10]

5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
Name: sepal_l, dtype: float64

In [25]:
df.to_csv(filename_write, index= 'false')

In [27]:
df = df.select_dtypes(include=['int', 'float'])
headers = list(df.columns.values)  #make it iterative
fields = []

In [29]:
for field in headers:
    fields.append({
        'name' : field,
        'mean' : df[field].mean(),
        'var'  : df[field].var(),
        'sdev' : df[field].std()
    })
for field in fields:
    print (field)

{'name': 'sepal_l', 'mean': 5.843333333333334, 'var': 0.6856935123042507, 'sdev': 0.828066127977863}
{'name': 'sepal_w', 'mean': 3.0573333333333337, 'var': 0.189979418344519, 'sdev': 0.4358662849366982}
{'name': 'petal_l', 'mean': 3.7580000000000005, 'var': 3.116277852348993, 'sdev': 1.7652982332594662}
{'name': 'petal_w', 'mean': 1.1993333333333336, 'var': 0.5810062639821029, 'sdev': 0.7622376689603465}

In [34]:
print (headers, '\n', df.columns)

['sepal_l', 'sepal_w', 'petal_l', 'petal_w']
 Index(['sepal_l', 'sepal_w', 'petal_l', 'petal_w'], dtype='object')

['sepal_l' 'sepal_w' 'petal_l' 'petal_w']

# Sorting and shuffling dataframes

In [35]:
filename_read_mpg = os.path.join(path, "auto-mpg.csv")

In [36]:
df_mpg = pd.read_csv(filename_read_mpg)

In [42]:
df_mpg.head(20)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan

In [57]:
np.random.seed(42) #to reproduce results
df_shuffled_mpg = df_mpg.reindex(np.random.permutation(df.index))

In [58]:
df_shuffled_mpg.reset_index(inplace=True, drop=True)

In [59]:
df_shuffled_mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,13.0,8,307.0,130,4098,14.0,72,1,chevrolet chevelle concours (sw)
1,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
2,24.0,4,116.0,75,2158,15.5,73,2,opel manta
3,21.0,4,120.0,87,2979,19.5,72,2,peugeot 504 (sw)
4,18.0,4,121.0,112,2933,14.5,72,2,volvo 145e (sw)

In [61]:
df_shuffled_mpg = df_shuffled_mpg.sort_values(by='name', ascending=True)

In [62]:
df_shuffled_mpg.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
50,13.0,8,360.0,175,3821,11.0,73,1,amc ambassador brougham
13,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl
52,17.0,8,304.0,150,3672,11.5,72,1,amc ambassador sst
126,18.0,6,232.0,100,2789,15.0,73,1,amc gremlin
61,21.0,6,199.0,90,2648,15.0,70,1,amc gremlin
71,19.0,6,232.0,100,2634,13.0,71,1,amc gremlin
43,18.0,6,199.0,97,2774,15.5,70,1,amc hornet
138,18.0,6,232.0,100,2945,16.0,73,1,amc hornet
21,19.0,6,232.0,100,2901,16.0,74,1,amc hornet
28,18.0,6,258.0,110,2962,13.5,71,1,amc hornet sportabout (sw)

# Feature engineering

In [64]:
# adding weights in the kg
df_shuffled_mpg.insert(1,'weight_kg', (df_shuffled_mpg['weight']*0.45339).astype(int))
df_shuffled_mpg.head()

,mpg,weight_kg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
50,13.0,1732,8,360.0,175,3821,11.0,73,1,amc ambassador brougham
13,15.0,1745,8,390.0,190,3850,8.5,70,1,amc ambassador dpl
52,17.0,1664,8,304.0,150,3672,11.5,72,1,amc ambassador sst
126,18.0,1264,6,232.0,100,2789,15.0,73,1,amc gremlin
61,21.0,1200,6,199.0,90,2648,15.0,70,1,amc gremlin

### **Pre-processing**

In [65]:
from scipy.stats import zscore
df_shuffled_mpg['mpg'] = zscore(df_shuffled_mpg['mpg'])

In [66]:
df_shuffled_mpg.head()

,mpg,weight_kg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
50,-1.042480,1732,8,360.0,175,3821,11.0,73,1,amc ambassador brougham
13,-0.703278,1745,8,390.0,190,3850,8.5,70,1,amc ambassador dpl
52,-0.364076,1664,8,304.0,150,3672,11.5,72,1,amc ambassador sst
126,-0.194476,1264,6,232.0,100,2789,15.0,73,1,amc gremlin
61,0.314327,1200,6,199.0,90,2648,15.0,70,1,amc gremlin

# Missing Values

In [73]:
filename_read = os.path.join(path,"auto-mpg.csv")
df = pd.read_csv(filename_read, na_values=['NA','?'])

In [76]:
med = df['horsepower'].median()
print (med)

93.5

In [77]:
df['horsepower'] = df['horsepower'].fillna(med)

In [78]:
print ("horsepower has na? {}".format(pd.isnull(df['horsepower']).values.any()))

horsepower has na? False

In [79]:
for field in df.columns.values:
    print (field, " has na? {}".format(pd.isnull(df[field]).values.any()))

mpg  has na? False
cylinders  has na? False
displacement  has na? False
horsepower  has na? False
weight  has na? False
acceleration  has na? False
year  has na? False
origin  has na? False
name  has na? False

## Training-test split

In [85]:
filename_read = os.path.join(path,"auto-mpg.csv")
df = pd.read_csv(filename_read, na_values=['NA','?'])
df = df.reindex(np.random.permutation(df.index))
mask = np.random.rand(len(df)) < 0.8
trainDF = pd.DataFrame(df[mask])
validationDF = pd.DataFrame(df[~mask])
print ("training DF: {}".format(len(trainDF)))
print ("Validation DF: {}".format(len(validationDF)))

training DF: 326
Validation DF: 72

In [86]:
print  (np.random.rand(len(df)) < 0.8)

[ True  True  True False  True  True False  True  True False  True  True
 False  True  True  True  True False  True  True  True  True  True False
  True  True  True  True  True  True  True  True  True  True  True  True
 False  True False  True  True False  True False  True  True  True  True
  True  True  True  True  True  True False  True False False  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True False  True
  True  True  True  True  True  True  True  True False False  True  True
  True  True  True  True  True False  True  True  True  True  True  True
  True False  True  True  True False  True  True False  True False  True
  True  True  True  True  True  True  True False False  True False  True
  True  True  True  True  True  True  True  True False  True False False
 False False False  True  True  True  True  True  True False False False
  True  True  True  True  True  True False  True  True  True  True  True
 False  True  True  True  True  True  True  True  True  True  True False
  True  True  True  True  True  True  True False  True False  True False
 False  True False  True False  True  True  True False  True  True  True
 False  True  True  True  True  True False  True  True  True  True  True
  True  True False  True False False  True False  True  True  True  True
  True  True  True  True False  True  True  True  True  True False  True
  True False False  True  True  True  True  True  True False  True  True
  True  True  True  True False  True  True  True  True  True  True  True
 False  True  True  True False  True  True  True  True  True  True  True
  True False  True  True  True False  True False  True  True False  True
  True False  True  True  True  True  True  True  True  True  True False
  True False  True  True  True  True  True  True  True False  True  True
  True  True  True  True False  True  True  True  True  True  True  True
  True  True  True  True  True  True False False False  True  True  True
 False  True False False  True  True  True False  True False  True  True
 False  True  True  True  True  True  True False False  True  True  True
  True False  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True False False  True False  True  True
  True  True  True  True  True  True  True False  True  True  True  True
  True  True]

In [88]:
from sklearn.model_selection import KFold

filename_read = os.path.join(path,"auto-mpg.csv")
df = pd.read_csv(filename_read, na_values=['NA','?'])
df = df.reindex(np.random.permutation(df.index))
kf = KFold(5)

In [90]:
fold =1 

for train_index, validation_index in kf.split(df):
    trainDF = pd.DataFrame(df.iloc[train_index, :])
    validationDF = pd.DataFrame(df.iloc[validation_index])
    print ("Fold #{}, training size: {}, validation size{}".format(fold, len(trainDF), len(validationDF)))
    fold +=1

Fold #1, training size: 318, validation size80
Fold #2, training size: 318, validation size80
Fold #3, training size: 318, validation size80
Fold #4, training size: 319, validation size79
Fold #5, training size: 319, validation size79